<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/Burger/public/assets/css/burger_style.css" type="text/css" />
	<title>EAT DA BURGER!</title>
</head>

<body>

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2019</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/jflopezr11">Reference Work</a>
			</div>
		</div>
	</footer>
</body>
</html>