
 html {
    background-color: aquamarine;
}

body {
    width: 75%;
   margin: 0 auto; 

   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: white;
}


h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    margin: 50px;
}

.burgerAvailable {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #3a8345;
    border: none;
}

.burgerAvailable:hover {
    background-color: #13925d;
}

.burgerEaten {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: #b89f9a;
}

h2 {
     text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 50px;
}

.formContainer {
    background-color: orange;
}

.addBurgerButton {
    font-family: 'Crafty Girls', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: rgb(76, 255, 201);
    border: none;
}

.addBurgerButton:active {
   background-color: #FFC04C;
}

.burgerFooter {
   background-color: rgb(50, 185, 68);
   padding: 20px 0;
}